---

const {item} = Astro.props
const {imageUrl, name, productUrl, price} = item
---

<a href={productUrl} class="group bg-slate-100 rounded-3xl overflow-hidden shadow-sm hover:shadow-2xl transition-all duration-300 hover:border hover:border-slate-200">
  <div class="relative h-[300px] w-full">
    <img
      src={imageUrl || "/placeholder.svg"}
      alt={''}
      class="object-cover"
    />
  </div>

  <div class="p-6">
    <h3 class="text-xl font-semibold mb-6">{name}</h3>
    <div class="flex flex-col items-center">
      <p>Cuota desde:</p>
      <p class="text-3xl font-bold text-secondary mb-6">${price.toLocaleString()}</p>
    </div>
    <p class="text-sm text-gray-600 mb-6">Contrato asociado: </p>

    <div
      
      class="block w-full bg-primary group-hover:bg-primary-dark text-white font-medium py-3 px-4 rounded-lg text-center transition-colors"
    >
      Ver producto
    </div>
  </div>
</a>