---
import { AtroposCard } from "@/components/react/AtroposCard";

const { item } = Astro.props;
const { data, body, slug } = item;
---
<div class="w-4/12 flex items-center justify-center p-2">
  <AtroposCard 
    client:visible 
    data={data}
    slug={slug}
  />
</div>