---
import { getCollection, CollectionEntry } from "astro:content";
import CardPlan from "./CardPlan.astro";

// Definir el tipo específico para la colección "planes"
type Plan = CollectionEntry<"planes">;

// Obtener la colección
const PLANES = await getCollection("planes");

// Ordenar los planes según el campo "order"
PLANES.sort((a, b) => a.data.order - b.data.order);
---

<div class="w-4/5 grid grid-cols-1 lg:grid-cols-3 items-center justify-center gap-8">
  {PLANES.map((plan) => <CardPlan item={plan} />)}
</div>
