---
import Layout from "@/layouts/Layout.astro";
import CardsSection from "@/sections/CardsSection.astro";
import Hero from "@/sections/Hero.astro";
import HowItWorks from "@/sections/HowItWorks.astro";
---

<Layout title="Motorplan">
  <div class="container mx-auto py-8">
    <Hero />
    <CardsSection />
    <HowItWorks />
  </div>
</Layout>
