---
import Layout from "@/layouts/Layout.astro";
import CardsSection from "@/sections/CardsSection.astro";
import IndexHero from "@/sections/index/IndexHero.astro";
import HowItWorks from "@/sections/HowItWorks.astro";
---

<Layout title="Motorplan">
  <div class="container mx-auto py-8">
    <IndexHero />
    <CardsSection />
    <HowItWorks />
  </div>
</Layout>
