---
import Frame from "@/components/Frame.astro";
import Bullseye from "@/icons/Bullseye.astro";
import Eye from "@/icons/Eye.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Motorplan">
  <Frame>
    <div class="w-full h-80 relative rounded-t-3xl">
      <img
        src="images/handsome-elegant-man-car-salon.jpg"
        class="object-cover w-full h-full absolute rounded-t-3xl"
      />
      <div class="absolute inset-0 bg-white bg-opacity-50 rounded-t-3xl"></div>
      <div class="absolute inset-0">
        <div class="flex items-center justify-center py-32">
          <h1
            class="text-3xl md:text-5xl p-4 font-bold text-primary text-center"
          >
            Motorplan - Tu camino hacia el futuro
          </h1>
        </div>
      </div>
    </div>

    <section id="about" class="py-16 bg-gray-50">
      <div class="container mx-auto px-4">
        <div class="grid md:grid-cols-2 gap-16">
          <div>
            <h2 class="text-3xl font-bold text-gray-800 mb-4">
              Sobre Motorplan
            </h2>
            <p class="text-lg text-gray-700 mb-4 text-justify">
              Motorplan. S.A es una empresa de capitalización y ahorro
              autorizada por la INSPECCIÓN GENERAL DE JUSTICIA DE LA NACIÓN la
              cual integra la asociación Argentina de Sociedades de
              Capitalización. Nuestro objetivo es guiar a nuestro clientes por
              el mejor camino para que puedan concretar la formación de un
              capital para su futuro, con una variedad de planes de corto,
              mediano y largo plazo que se adapten a sus necesidades.
            </p>
            <p class="text-lg text-gray-700 text-justify">
              Nuestra estructura esta nutrida por profesionales de basta
              experiencia en el rubro, con un eficiente plantel de RRHH que hará
              posible el desarrollo futuro tanto de nuestros suscriptores como
              de la empresa.
            </p>
            <p class="text-lg text-gray-700 text-justify mt-4">
              En Motorplan.S.A nuestra prioridad son nuestros clientes.
            </p>
          </div>
          <div>
            <div
              class="bg-cover bg-center h-96"
              style="background-image: url('/images/handsome-elegant-man-car-salon.jpg');"
            >
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Sección Misión y Visión -->
    <section class="relative my-16 text-white p-16 rounded-3xl">
      <!-- Fondo de gradiente -->
      <div
        class="absolute inset-0 bg-gradient-to-r from-primary-dark to-primary-darker bg-no-repeat bg-cover rounded-3xl"
        style="z-index: 1;"
      >
      </div>

      <!-- Imagen en capa superior -->
      <div
        class="absolute inset-0 bg-[url('/ui/flechas.svg')] bg-right bg-no-repeat bg-cover opacity-30"
        style="z-index: 2; background-size: auto 100%; background-position: right center;"
      >
      </div>

      <!-- Contenido -->
      <div class="relative z-10 grid md:grid-cols-2 gap-16">
        <div>
          <h3 class="text-2xl font-semibold text-white mb-4">
            <Bullseye
              fill="white"
              width="24"
              height="24"
              class="inline-block"
            /> Misión
          </h3>
          <p class="text-lg text-white mb-4">
            En Motorplan, promovemos la cultura del ahorro, ayudando a nuestros
            clientes a capitalizar su futuro. Nuestra misión es generar
            conciencia sobre los beneficios del ahorro y brindarles un servicio
            cercano, enfocado en sus necesidades.
          </p>
        </div>
        <div>
          <h3 class="text-2xl font-semibold text-white mb-4">
            <Eye fill="white" width="24" height="24" class="inline-block" /> Visión
          </h3>
          <p class="text-lg text-white">
            Buscamos liderar el sector de ahorro y capitalización en Argentina,
            ofreciendo soluciones innovadoras y eficientes. Nuestra visión es
            crear espacios donde nuestros clientes encuentren respuestas claras,
            con compromiso y efectividad en cada paso.
          </p>
        </div>
      </div>
    </section>

    <section id="how-it-works" class="py-16 bg-white">
      <div class="container mx-auto px-4">
        <div class="grid md:grid-cols-2 gap-16">
          <div>
            <i
              class="icon-custom icon-50 far fa-question-circle text-4xl text-primary mb-4"
            ></i>
            <h3 class="text-2xl font-semibold text-gray-800 mb-4">
              ¿Cómo funciona?
            </h3>
            <p class="text-lg text-gray-700">
              Suscríbete a nuestros planes de capitalización de vehículos y
              comienza a ahorrar para tu auto o moto. Cada mes, realiza tus
              aportes y participa en sorteos para obtener tu vehículo de manera
              anticipada.
            </p>
          </div>
          <div>
            <i
              class="icon-custom icon-50 far fa-check-circle text-4xl text-primary mb-4"
            ></i>
            <h3 class="text-2xl font-semibold text-gray-800 mb-4">
              ¿Cómo acceder?
            </h3>
            <p class="text-lg text-gray-700">
              Puedes acceder a nuestros planes a través de nuestra red de
              agencias oficiales, distribuidas en todo el país. ¡Es el momento
              perfecto para hacer realidad tu sueño!
            </p>
          </div>
        </div>
      </div>
    </section>
  </Frame>
</Layout>
