---
import { string } from "astro:schema";
import adjudicados from "../../data/adjudicados.json";

// Función para encontrar el último mes y año
const response = await fetch(
  "https://opensheet.elk.sh/1FJ5z6zcc-YF312ZLAnKn-xNUpnqtgFFFRjGJR8KKLp0/Last",
);
const data = await response.json();
// console.log(data);

const ultimoAdjudicado = {
  mes: (await data[0].Mes) || "buscando...",
  ganador: (await data[0].Dato) || "buscando...",
};
// console.log(ultimoAdjudicado);
---

<div
  class="m-12 p-12 bg-secondary rounded-3xl flex flex-col items-center gap-2"
>
  <p class="text-2xl">
    SORTEO {ultimoAdjudicado.mes.toUpperCase()}
  </p>
  <div class="bg-primary w-9/12 h-1"></div>
  <p class="text-4xl font-semibold">{ultimoAdjudicado.ganador}</p>
</div>
