<div
  class="m-12 p-12 bg-secondary rounded-3xl flex flex-col items-center gap-2"
>
  <p class="text-xl">SORTEO NOVIEMBRE</p>
  <div class="bg-primary w-9/12 h-1"></div>
  <p class="text-3xl">815</p>
</div>
