---

const {title} = Astro.props
---

<div>
  <button class="w-full border border-tertiary text-tertiary hover:bg-tertiary hover:text-white font-medium text-sm py-1 px-2 rounded-lg text-center transition-colors flex justify-center">
    {title}
  </button>
</div>