---
const year = new Date().getFullYear()
---

<footer class="mx-auto w-full bg-neutral py-8">
  <span class="text-center w-full flex justify-center">
    {`${year} | Todos los derechos reservados`}
  </span>
</footer>