---
import Card from "@/components/Card.astro";

const cardsContent = [
  {
    title: "Planes Flexibles",
    description:
      "Elegí entre planes de hasta 300 cuotas, pensados para adaptarse a tu bolsillo y necesidades.",
  },
  {
    title: "Sorteos Mensuales",
    description:
      "Participá en sorteos mensuales y adelantá la adjudicación de tu vehículo soñado.",
  },
  {
    title: "Cobertura Nacional",
    description:
      "Estamos presentes en todo el país con Agencias Oficiales y asesores que te acompañan en cada paso.",
  },
];
---

<section class="grid md:grid-cols-3 gap-8 my-16">
  {
    cardsContent.map(({ title, description }) => (
      <Card
        title={title}
        class:list={`hover:border-black transition-all duration-200`}>
        <p class="text-sm text-gray-500">{description}</p>
      </Card>
    ))
  }
</section>
