---
import Card from "@/components/Card.astro";

const cardsContent = [
  {
    title: "Planes Flexibles",
    description:
      "Elegí entre distintos planes de hasta 330 cuotas, pensados para adaptarse a tus necesidades y a tu bolsillo. No importa para que bien te suscribas, siempre podes cambiar de destino, vos lo elegís.",
  },
  {
    title: "Sorteos Mensuales",
    description:
      "Todos los meses podes salir adjudicado y ganar el valor nominal suscripto. Tus sueños están más cerca de la mano de Motorplan.",
  },
  {
    title: "Cobertura Nacional",
    description:
      "Estamos presentes en todo el país con Agencias Oficiales y asesores que te acompañan en cada paso.",
  },
];
---

<section class="grid md:grid-cols-3 gap-8 my-16">
  {
    cardsContent.map(({ title, description }) => (
      <Card
        title={title}
        class:list={`hover:border-black transition-all duration-200`}>
        <p class="text-sm text-gray-500">{description}</p>
      </Card>
    ))
  }
</section>
