<section class="text-center mt-10 flex flex-col items-center gap-6">
  <h2 class="text-3xl font-bold">¿Cómo funciona?</h2>
  <p class="text-xl opacity-80 max-w-5xl text-balance">
    Suscribí uno de nuestros planes de ahorro, participa en los sorteos
    mensuales que se realizan en la Lotería de la Ciudad, pagá tu cuota antes
    del último sábado de cada mes y listo, ya estás un paso más cerca de cumplir
    tu sueño❗
  </p>
  <a
    href="/plan"
    class="bg-primary text-white hover:bg-primary-light transition-all hover:scale-105 duration-300 px-6 py-4 rounded-lg mt-6"
  >
    Conocé más
  </a>
</section>
