<section class="text-center mt-10 flex flex-col items-center gap-6">
  <h2 class="text-3xl font-bold">¿Cómo funciona?</h2>
  <p class="text-xl opacity-80 max-w-5xl text-balance">
    Suscribíte a uno de nuestros planes, participá en los sorteos mensuales, y
    podrías ganar la adjudicación anticipada de tu propieda.
  </p>
  <a
    href="/plan"
    class="bg-primary text-white hover:bg-primary-light transition-all hover:scale-105 duration-300 px-6 py-4 rounded-lg mt-6"
  >
    Conocé más
  </a>
</section>
